<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/css/style.css">
 
    <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
  <title>Dashboard</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top navbar-default navbar-fixed-top">
    <a class="navbar-brand" href="/">Tiny.URL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: black;">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: black;">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: rgb(0, 0, 0);">
            <span class="material-icons" style="vertical-align: bottom;">
              person_pin
            </span><%= user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#user-profile"><span class="material-icons" style="vertical-align: bottom;">
                account_circle
              </span>Account</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#user-settings"><span class="material-icons" style="vertical-align: bottom;">
                settings
              </span>Settings</a>
              <a class="dropdown-item" href="../auth/logout"><span class="material-icons" style="vertical-align: bottom;">
                power_settings_new
              </span>Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
 
  <!-- sidebar -->
  <div class="sidebar-container">
    <div class="sidebar-logo">
      <!-- Example single danger button -->
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="material-icons" style="vertical-align: bottom;">
            add
          </span>New
        </button>
        <div class="dropdown-menu">
          <span class="dropdown-item" style="font-size: smaller;">create new</span>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#add-secret-modal">Record</a>
          <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#addPaymentSecret">Payment Card</a>
        </div>
      </div>
    </div>
    <a href="#" class="sidebar-links">
      <div class="sidebar-logo">
        <span class="material-icons" style="vertical-align: bottom;">
          lock
        </span>My Vault
      </div>
    </a>
    <a href="#" class="sidebar-links">
      <div class="sidebar-logo">
        <span class="material-icons" style="vertical-align: bottom;">
          payment
        </span>Payments
      </div>
    </a>
    <a href="#" class="sidebar-links">
      <div class="sidebar-logo">
        <span class="material-icons" style="vertical-align: bottom;">
          security
        </span>SecurityAudit
      </div>
    </a>
    <a href="#" class="sidebar-links">
      <div class="sidebar-logo">
        <span class="material-icons" style="vertical-align: bottom;">
          watch
        </span>BreachWatch
      </div>
    </a>
  </div>

  <!-- Modal for to add secret -->
  <div class="modal" id="add-secret-modal" tabindex="-1" role="dialog"
    aria-labelledby="add-secret" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#" id="add-secret">
            <div class="col-lg-10 offset-lg-1">
              <div class="form-group">
                <input type="text" placeholder="Enter Title" name="title" id="title"
                  class="form-control form-control-lg" autocomplete="off" required />
              </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
              <div class="form-group">
                <input type="text" placeholder="Enter Your Email or Username" name="login" id="s-login"
                  class="form-control form-control-lg" autocomplete="off" required />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
            </div>
            
            <div class="col-lg-10 offset-lg-1">
              <span class="material-icons key">
                vpn_key
              </span>
              <div class="form-group">
                <input type="password" name="password" placeholder="Type or Generate Password" id="s-password"
                  class="form-control form-control-lg" autocomplete="off" required />
                  <span class="material-icons field-icon">
                    visibility
                  </span>
              </div>
              
            </div>

            <div class="col-lg-10 offset-lg-1">
              <div class="form-group">
                <input type="text" placeholder="https://" name="website_address" id="s-website_address"
                  class="form-control form-control-lg" autocomplete="off" required />
              </div>
            </div>

            <div class="col-lg-10 offset-lg-1">
              <div class="form-group">
                <input type="text" placeholder="Keep note" name="note" id="s-note" class="form-control form-control-lg"
                autocomplete="off" required />
              </div>
            </div>

            <div class="col-lg-10 offset-lg-1  modal-footer">
              <div class="form-group">
                <input type="submit" name="secretSubmit" value="Submit" class="btn btn-primary form-control-lg btn-block" autocomplete="off" required />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Modal for to Show decrypted secret -->
  <div class="modal fade" id="update-secret-modal" tabindex="-1" role="dialog"
    aria-labelledby="update-secret" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="head-id" style="display: none;">Details</h5>
          <h5 class="modal-title">Details (ReadOnly)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#" id="update-secret">

            <div class="col-lg-10 offset-lg-1">
              <div class="form-group">
                <label for="u-title" class="fs1">TITLE</label>
                <input type="text" placeholder="Enter Title" name="title" id="u-title"
                  class="form-control form-control-lg" autocomplete="off"  required />
              </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
              <div class="form-group">
                <label for="u-login" class="fs1">LOGIN</label>
                <input type="text" placeholder="Enter Your Email or Username" name="login" id="u-login"
                  class="form-control form-control-lg" autocomplete="off"  required />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
              <div class="form-group">
                <span class="material-icons key">
                  vpn_key
                </span>
                <label for="u-password" class="fs1">PASSWORD</label>
                <input type="password" name="password" placeholder="Type or Generate Password" id="u-password"
                  class="form-control form-control-lg" autocomplete="off"  required />
                  <span class="material-icons field-icon">
                    visibility
                    </span>
              </div>
            </div>

            <div class="col-lg-10 offset-lg-1">
              <div class="form-group">
                <label for="u-website_address" class="fs1">WEBSITE ADDRESS</label>
                <input type="text" placeholder="https://" name="website_address" id="u-website_address"
                  class="form-control form-control-lg" autocomplete="off"  required />
              </div>
            </div>

            <div class="col-lg-10 offset-lg-1">
              <div class="form-group">
                <label for="u-note" class="fs1">NOTE</label>
                <input type="text" placeholder="Keep note" name="note" id="u-note" class="form-control form-control-lg"
                autocomplete="off"  required />
              </div>
            </div>

            <div class="col-lg-10 offset-lg-1">
              <div class="form-group">
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary form-control-lg" data-dismiss="modal">Close</button>
                  <input type="submit" id="secretUpdate" name="secretUpdate" value="SAVE CHANGES" class="btn form-control-lg btn-primary" autocomplete="off" disabled />
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  </div>


  <!-- Modal for payment secret -->
  <div class="modal" id="addPaymentSecret" tabindex="-1" role="dialog"
    aria-labelledby="add-paymentCard" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add-paymentCard">New Payment Card</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#" method="POST" id="payment">
            
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Model for user profile -->
  <div class="modal" id="user-profile" tabindex="-1" role="dialog"
    aria-labelledby="profile" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profile">Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        </div>
      </div>
    </div>
  </div>
  </div>

    <!-- Model for user settings -->
  <div class="modal" id="user-settings" tabindex="-1" role="dialog"
    aria-labelledby="user-settings" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="user-settings">Security</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size: smaller;">
          <div class="container">
            <div class="row">
              <div class="col-md">

                <div class="custom-control custom-switch top7">
                  <input type="checkbox" class="custom-control-input" id="2fa" onclick="twoFAuth(this)">
                  <label class="custom-control-label" for="2fa">ACTIVATE TWO-FACTOR AUTHENTICATION</label>
                </div>

                <div class="custom-control custom-switch top7">
                  <input type="checkbox" class="custom-control-input" id="shortLogin" onclick="shortLogin(this)" disabled>
                  <label class="custom-control-label" for="shortLogin">ACTIVATE SHORTLOGIN</label>
                </div>

                <div class="custom-control custom-switch top7">
                  <input type="checkbox" class="custom-control-input" id="decryption" checked> 
                  <label class="custom-control-label" for="decryption">DECRYPTION</label>
                </div>

                <div class="custom-control custom-switch top7">
                  <input type="checkbox" class="custom-control-input" id="autoLogout" onclick="autoLogout(this)">
                  <label class="custom-control-label" for="autoLogout"></label>ACTIVATE AUTO-LOGOUT</br>Discontinue me after <input type="number" name="select" value="0" id="auto-logout-counter" min="0" max="60" disabled> <b>min</b> </label>
                </div>

                <button type="button" class="btn btn-danger btn-lg btn-block top30" style="font-size: 1.3em;"  data-toggle="modal" data-target="#change-pass-modal">CHANGE MASTER PASSWORD</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<!-- Modal for qrcode to show  -->

  <div class="modal" id="qrcode-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="text-align: center;">Activate Two-Factor authentication</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md">
                <div class="qrcode-box">
                  <img class="img-fluid" id="qrcode" src="" alt="QR-Code" srcset="">
                  <form id="activate-2fa">
                    <div class="form-group d-flex justify-content-center">
                      <input type="text" class="form-control w-50" id="passcode" aria-describedby="passcodeHelp" placeholder="6-digit code" name="userToken" autocomplete="off">
                    </div>
                    <small id="passcodeHelp"></small>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" >ACTIVATE</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

<!-- Model for to change password -->
   <div class="modal" id="change-pass-modal" tabindex="-1" role="dialog"
    aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profile">Change Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning" role="alert">
            <span class="material-icons" style="vertical-align: bottom;">
              warning
              </span>
            Please note that these operation may take time.(up to your data size)
          </div>

          <form class="form-inline" id="change-password-form" action="#">
            <div class="form-group">
              <label for="c-password">Password</label>
              <input type="password" id="c-password" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" required>
            </div>
            <div class="form-group top22">
              <label for="c-confirm-password">Confirm Password</label>
              <input type="password" id="c-confirm-password" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" required>
              <span style="color: red; font-size: 12px; visibility: hidden;" id="not-match-warn" >
                Mismatch
              </span> 
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block top30" id="change-pass-button" style="font-size: 1.3em;">
              CHANGE IT
            </button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- list of user secrets -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 offset-md-1">
        <div class="secret-box">
        <%- include('./partials/messages.ejs') %>
        <table class="table table-striped table-hover" style="font-size: smaller;">
          <thead>
            <tr>
              <th scope="col">RECORD ID</th>
              <th scope="col">TITLE</th>
              <th scope="col">LAST MODIFIED</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="all-secrets">
           
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
 
  <!-- messages Modal -->
  <div class="modal fade bd-example-modal-sm " id="messages"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header btn-success">
          <span class="material-icons">
            timer
            </span>
            Your short-login has activated!
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
 
  <div id="loader" style="visibility: hidden;">
    <i class="fas fa-spinner fa-pulse fa-4x loader"></i>
    <div id="loading-mask"><div id="loading-bar-spinner"><div class="spinner-icon"></div></div></div>
  </div>

  <script type="text/javascript">
    let eye = document.getElementsByClassName('field-icon');
    eye[0].addEventListener('click', ()=> {
      if (eye[0].innerHTML == 'visibility') {
        eye[0].innerHTML = 'visibility_off';
        document.getElementById('s-password').type="text";
      } else {
        eye[0].innerHTML = 'visibility';
        document.getElementById('s-password').type="password";
      }
    });
    eye[1].addEventListener('click', ()=> {
      if (eye[1].innerHTML == "visibility") {
        eye[1].innerHTML = "visibility_off";
        document.getElementById('u-password').type="text";
      } else {
        eye[1].innerHTML = "visibility";
        document.getElementById('u-password').type="password";
      }
    });
  </script>
  <script src="/js/secret.js" type="module"></script>
  <script src="/js/passwordGenerator.js" type="module"></script>
  <script src="/js/loader.js" type="module"></script>
  <script src="/js/userSetting.js" type="module"></script>
  <script src="/js/autoLogout.js" type="module"></script>
  <script src="/js/twoFactorAuth.js" type="module"></script>
  <script src="/js/changeMasterPassword.js" type="module"></script>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
<!-- <div class="dropdown-divider"></div> -->
