<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#6b02d4 !important;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"  style="color: rgb(255, 255, 255);">Vault.IN</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="username" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" style="color: rgb(255, 255, 255); vertical-align: top;" >
              <span class="material-icons" style="vertical-align: -0.5pc;">
                person_pin 
              </span>
              <%= user.username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li> <a class="dropdown-item" href="#" data-toggle="modal" data-target="#user-profile"><span
                    class="material-icons" style="vertical-align: bottom;">
                    account_circle
                  </span>Account</a></li>

              <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#user-settings"><span
                    class="material-icons" style="vertical-align: bottom;">
                    settings
                  </span>Settings</a></li>

              <li><a class="dropdown-item" href="
                logout"><span class="material-icons" style="vertical-align: bottom;">
                    power_settings_new
                  </span>Logout</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- sidebar -->
  <div class="container-fluid">
    <div class="row">
      <div class="sidebar">
        <ul class="nav nav-sidebar">
          <div class="sidebar-logo">
            <!-- Example single danger button -->
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="material-icons" style="vertical-align: bottom;">
                  add
                </span>New
              </button>

              <div class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-secret-modal">Record</a>
                </li>
                <li>
                  <!-- <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addPaymentSecret">Payment Card</a> -->
                </li>
              </div>
            </div>
          </div>

          <a href="javascript:viewVault()" class="sidebar-links">
            <div class="sidebar-logo">
              <span class="material-icons" style="vertical-align: bottom;">
                lock
              </span>My Vault
            </div>
          </a>

        </ul>
      </div>

      <div class="col-sm-12 main">
        <div class="row">
          <h3 class="page-header" style="cursor: pointer;" onclick="viewVault()"><span class="material-icons" style="vertical-align: bottom; font-size: 25px;">
            person
            </span>Secrets</h3>
          <table class="table table-striped table-hover" style="font-size: smaller;">
            <div id="system-msg" role="alert" disabled>
            
            </div>
            <thead>
              <tr>
                <th scope="col">TITLE</th>
                <th scope="col">LAST MODIFIED</th>
                <th scope="col">SHARED WITH</th>
              </tr>
            </thead>
            <tbody id="all-secrets">

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>


  <!-- Modal for to add secret -->
  <div class="modal" id="add-secret-modal" tabindex="-1" role="dialog" aria-labelledby="add-secret" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="add-secret-msg" role="alert" disabled>
            
          </div>

          <form action="#" id="add-secret">

            <div class="form-group">
              <input type="text" placeholder="Enter Title" name="title" id="title" class="form-control form-control-lg"
                autocomplete="off" required />
            </div>

            <div class="form-group">
              <input type="text" placeholder="Enter Your Email or Username" name="login" id="s-login"
                class="form-control form-control-lg" autocomplete="off" required />
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone -->
                <!-- else.</small> -->
            </div>

            <span class="material-icons key">
              vpn_key
            </span>
            <div class="form-group">
              <input type="password" name="password" placeholder="Type or Generate Password" id="s-password"
                class="form-control form-control-lg" autocomplete="off" required />
              <span class="material-icons field-icon" onclick="passwordEye(this, `s-password`)">
                visibility
              </span>
            </div>

            <div class="form-group">
              <input type="text" placeholder="https://" name="website_address" id="s-website_address"
                class="form-control form-control-lg" autocomplete="off" required />
            </div>

            <div class="form-group">
              <input type="text" placeholder="Keep note" name="note" id="s-note" class="form-control form-control-lg"
                autocomplete="off" required />
            </div>

            <div class="form-group">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary form-control-lg" data-dismiss="modal">Close</button>
                <button type="submit" name="secretSubmit" class="btn form-control-lg btn-primary">SAVE
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Modal for to Show decrypted secret -->
  <div class="modal" id="update-secret-modal" tabindex="-1" role="dialog" aria-labelledby="update-secret"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header" style="text-align: center;">

          <h5 class="modal-title  w-100" id="record-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          <span data-toggle="popover" id="record-id" title="RECORD ID" class="close material-icons"
            style="color: rgb(255, 153, 0);">
            info
          </span>
        </div>
        <div class="modal-body">
          
          <nav>
            
            <ul class="nav nav-tabs" id="nav-tab">
              <li class="active">
                <a id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details"
                  aria-selected="true">Details</a>
              </li>
              <li>
                <a class="nav-item nav-link" id="nav-access-secret-tab" data-toggle="tab" href="#nav-access-secret"
                  role="tab" aria-controls="nav-access-secret" aria-selected="false">Who Has Access</a>
              </li>
            </ul>
          </nav>

          <div class="tab-content" id="nav-tabContent">
            
            <div class="tab-pane fade in active" id="nav-details">
              <div id="show-secret-details-msg" role="alert" disabled>
                
              </div>
              <form action="#" id="update-secret">

                <div class="form-group">
                  <label for="u-login" class="fs1">LOGIN</label>
                  <input type="text" placeholder="Enter Your Email or Username" name="login" id="u-login"
                    class="form-control form-control-lg" autocomplete="off" required />
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
                </div>

                <div class="form-group">
                  <span class="material-icons key">
                    vpn_key
                  </span>
                  <label for="u-password" class="fs1">PASSWORD</label>
                  <input type="password" name="password" placeholder="Type or Generate Password" id="u-password"
                    class="form-control form-control-lg" autocomplete="off" required />
                  <span class="material-icons field-icon" onclick="passwordEye(this, `u-password`)">
                    visibility
                  </span>
                </div>

                <div class="form-group">
                  <label for="u-website_address" class="fs1">WEBSITE ADDRESS</label>
                  <input type="text" placeholder="https://" name="website_address" id="u-website_address"
                    class="form-control form-control-lg" autocomplete="off" required />
                </div>

                <div class="form-group">
                  <label for="u-note" class="fs1">NOTE</label>
                  <input type="text" placeholder="Keep note" name="note" id="u-note"
                    class="form-control form-control-lg" autocomplete="off" required />
                </div>

                <div class="form-group">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary form-control-lg" data-dismiss="modal">Close</button>
                    <button type="submit" id="secretUpdate" class="btn form-control-lg btn-primary" disabled>SAVE
                      CHANGES</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="nav-access-secret">
              <div id="show-secret-share-details-msg" role="alert" disabled>
                
              </div>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">User</th>
                    <th scope="col">Rights</th>
                    <th scope="col">#</th>
                  </tr>
                </thead>
                <tbody id="whoHasAccess">
                  
                </tbody>
              </table>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary form-control-lg" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Modal for payment secret -->
  <div class="modal" id="addPaymentSecret" tabindex="-1" role="dialog" aria-labelledby="add-paymentCard"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add-paymentCard">New Payment Card</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-lg btn-danger">Click to toggle popover</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Model for user profile -->
  <div class="modal" id="user-profile" tabindex="-1" role="dialog" aria-labelledby="profile" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profile">Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="col-md-8 offset-md-2">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <img
                  src="https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  alt="No Image" srcset="" class="img-circle img-responsive">
              </div>
            </div>
          </div>

          <div class="row top7">
            <div class="col-lg-12 offset-lg-0 col-sm-8 offset-sm-2">
              <div class="user-info table-responsive-md">
                <table class="table table-sm table-primary table-striped">
                  <tbody>
                    <tr>
                      <td style="font-weight: 500;">Username</td>
                      <td>
                        <%= user.username%>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- Model for user settings -->
  <div class="modal" id="user-settings" tabindex="-1" role="dialog" aria-labelledby="user-settings" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="user-settings">Security</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body fs0">

          <div class="custom-control custom-switch top7">
            <input type="checkbox" class="custom-control-input" id="2fa" onclick="twoFAuth(this)">
            <label class="custom-control-label" for="2fa">ACTIVATE TWO-FACTOR AUTHENTICATION</label>
          </div>

          <div class="custom-control custom-switch top7"  data-toggle="popover" data-content="This feature is not available for you.">
            <input type="checkbox" class="custom-control-input" id="shortLogin" onclick="shortLogin(this)" disabled>
            <label class="custom-control-label" for="shortLogin">ACTIVATE SHORTLOGIN</label>
          </div>

          <div class="custom-control custom-switch top7">
            <input type="checkbox" class="custom-control-input" id="decryption" checked>
            <label class="custom-control-label" for="decryption">DECRYPTION</label>
          </div>

          <div class="custom-control custom-switch top7">
            <input type="checkbox" class="custom-control-input" id="autoLogout" onclick="autoLogout(this)">
            <label class="custom-control-label" for="autoLogout"></label>ACTIVATE AUTO-LOGOUT</br>Discontinue me
            after <input type="number" name="select" value="0" id="auto-logout-counter" min="1" max="60" disabled>
            <b>min</b> </label>
          </div>
          <button type="button" class="btn btn-danger btn-lg btn-block top30" style="font-size: 1.3em;"
            data-toggle="modal" data-target="#change-pass-modal">CHANGE MASTER PASSWORD</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Modal for qrcode to show  -->

  <div class="modal" id="qrcode-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="text-align: center;">Activate Two-Factor authentication</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="qrcode-box">
            <div class="alert alert-info">
              Use an application on your phone to get two-factor authentication codes when prompted. We recommend using cloud-based TOTP apps such as: <a href="https://support.1password.com/one-time-passwords/" target="_blank">1Password</a> ,<a href="https://authy.com/guides/github/" target="_blank" rel="noopener noreferrer">Authy</a>, <a href="https://support.logmeininc.com/lastpass/help/lastpass-authenticator-lp030014" target="_blank" rel="noopener noreferrer">LastPass Authenticator</a>, or <a href="https://www.microsoft.com/en-us/account/authenticator/" target="_blank" rel="noopener noreferrer">Microsoft Authenticator</a>.
            </div>
            <img class="img-fluid" id="qrcode" src="" alt="QR-Code" srcset="">
            <form id="activate-2fa">
              <div class="form-group d-flex justify-content-center top10">

              </div>

              <div class="row"><div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4">
                <input type="text" class="form-control" id="passcode" aria-describedby="passcodeHelp"
                    placeholder="6-digit code" name="userToken" autocomplete="off">
                </div></div>
                <small id="passcodeHelp"></small>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">ACTIVATE</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Model for to change password -->
  <div class="modal" id="change-pass-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profile">Change Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-info">
            <strong>Info!</strong> please set <i>Strong Password</i> a password that is reasonably difficult to guess by someone.
          </div>
          <div id="change-password-msg" role="alert" disabled>
            
          </div>

          <form class="form-inline" id="change-password-form" action="#">
            <div class="form-group">
              <label for="c-password">Password: </label>
              <input type="password" id="c-password" class="form-control mx-sm-3" aria-describedby="passwordHelpInline"
                required>
            </div>
            <div class="form-group top22">
              <label for="c-confirm-password">Confirm Password: </label>
              <input type="password" id="c-confirm-password" class="form-control mx-sm-3"
                aria-describedby="passwordHelpInline" required>
              <span style="color: rgb(194, 10, 10); font-size: 12px; visibility: hidden;" id="not-match-warn">
                Mismatch
              </span>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block top30" id="change-pass-button"
              style="font-size: 1.3em;">
              CHANGE IT
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- messages Modal -->
  <div class="modal fade bd-example-modal-sm " id="messages"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header btn-success">
          <span class="material-icons">
            timer
            </span>
            Your short-login has activated!
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/secret.js" type="module"></script>
  <script src="/js/passwordGenerator.js" type="module"></script>
  <script src="/js/userSetting.js" type="module"></script>
  <script src="/js/autoLogout.js" type="module"></script>
  <script src="/js/twoFactorAuth.js" type="module"></script>
  <script src="/js/changeMasterPassword.js" type="module"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    function passwordEye(eye, id) {
      if(eye.innerHTML == 'visibility_off') {
        eye.innerHTML = 'visibility';
        document.getElementById(id).type = "password";
        return;
      }
      eye.innerHTML = 'visibility_off';
      document.getElementById(id).type = "text";
    };
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>
</body>

</html>
<!-- <div class="dropdown-divider"></div> -->