.block {
    min-height: 400px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 20px;
    border:  rgb(209, 124, 124) solid 1px;
    background-color: rgb(255, 255, 255);
    padding: 25px;
}

.btn-element {
    padding: 10px;
    margin-top: 40px;
    margin-right: 10px;
}
.btn-element button {
    margin-top: 10px;
}
input[type] {
    font-size: 1em;
}

.sidebar-container {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 56px;
    left: 0;
    background-color: rgb(118, 118, 228);
    color: #fff;
}
.sidebar-logo{
    padding: 20px 20px 20px 30px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.sidebar-logo:hover{
    background-color: rgb(88, 88, 197);
    color: white;
}

.sidebar-links {
    color: white;
}

.table-row:hover {
    cursor: pointer;
    border-right: 1px solid rgb(0, 68, 255);
    border-left: 1px solid rgb(4, 0, 255);
}
#key {
    cursor: pointer;
    float: right;
}
#key:hover{
    opacity: 0.8;
}
