.block {
    min-height: 400px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 20px;
    border:  rgb(209, 124, 124) solid 1px;
    background-color: rgb(255, 255, 255);
    padding: 25px;
}

.btn-element {
    padding: 10px;
    margin-top: 40px;
    margin-right: 10px;
}
.btn-element button {
    margin-top: 10px;
}
input[type] {
    font-size: 0.9em;
}

.sidebar-container {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 56px;
    left: 0;
    background-color: rgb(118, 118, 228);
    color: #fff;
}
.sidebar-logo{
    padding: 20px 20px 20px 30px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.sidebar-logo:hover{
    background-color: rgb(88, 88, 197);
    color: white;
}

.sidebar-links {
    color: white;
}

.table-row:hover {
    cursor: pointer;
    border-right: 1px solid rgb(0, 68, 255);
    border-left: 1px solid rgb(4, 0, 255);
}
.key {
    user-select: none;
    cursor: pointer;
    float: right;
}
.key:hover{
    opacity: 0.6;
}
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top12 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top22 { margin-top:17px; }
.top30 { margin-top:30px; }

.fs1 {font-size: x-small;}
.fs2 {font-size: x-small;}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading-mask {
    position: fixed;
    z-index: 1051;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}  
.field-icon {
    user-select: none;
    float: right;
    margin-left: -36px;
    margin-top: -36px;
    margin-right: 4px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.qrcode-box {
    user-select: none;
    text-align:center;
}
.qrcode-box #qrcode {
    height: 300px;
    width: 300px;
}
