.block {
    min-height: 400px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 20px;
    border:  rgb(209, 124, 124) solid 1px;
    background-color: rgb(255, 255, 255);
    padding: 25px;
}
.btn-element {
    padding: 10px;
    margin-top: 40px;
    margin-right: 10px;
}
.btn-element button {
    margin-top: 10px;
}
input[type] {
    font-size: 1em;
}
.sidebar-logo{
    padding: 20px 20px 20px 30px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.sidebar-logo:hover{
    background-color: rgb(2, 84, 104);
    color: white;
}

.key {
    user-select: none;
    cursor: pointer;
    float: right;
}
.key:hover{
    opacity: 0.6;
}
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top12 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top22 { margin-top:17px; }
.top30 { margin-top:30px; }

.fs0 {font-size: 12px;}
.fs1 {font-size: small;}
.fs2 {font-size: x-small;}
.fs3 {font-size: xx-small;}

 
.field-icon {
    user-select: none;
    float: right;
    margin-left: -30px;
    margin-top: -30px;
    margin-right: 4px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.qrcode-box {
    user-select: none;
    text-align:center;
}
.qrcode-box #qrcode {
    height: 300px;
    width: 300px;
}
.profile-logo {
    padding: 5px;
    margin: 2px;
    color: white;
    border-radius: 20px;
}
body {
    padding-top: 50px;
}
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
    border: 0;
}
.sidebar {
    display: none;
}
@media (min-width: 200px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; 
        background-color: #ebe9e9;
        width: 180px;
    }
}
.nav-sidebar {
    margin-right: -21px; 
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
.main {
    padding: 20px;
}
@media (min-width: 200px) {
    .main {
        padding-right: 40px;
        padding-left: 220px;
    }
}
.main .page-header {
    margin-top: 0;
}

input,
input::-webkit-input-placeholder {
    font-size: 13px;
}
